<div class='row'>
  <% if user != current_user %>
    <% if (current_user.following?(user)) && (user.following?(current_user)) %>
      <% if isRoom == true %>
        <%= link_to "チャットへ", room_path(roomId), class: "btn btn-primary" %>
      <% else %>
        <%= form_with model: room, url: rooms_path, method: :post do |f| %>
          <%= fields_for entry do |e| %>
            <%= e.hidden_field :user_id, value: user.id %>
          <% end %>
          <%= f.submit "チャットを始める", class: "btn btn-primary user-show-chat" %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</div>